<div class="container">
  <form>
    <div class="form-group">
      <label for="InputQuery">Query</label>
      <input type="text" class="form-control" id="InputQuery" placeholder="Enter query">
    </div>
    <%= link_to 'Submit', '#',  class: 'btn btn-primary' , remote: true, id: 'search-btn' %>
  </form>
</div>