<div id="slider">
  <%= image_tag('slider/slide1.jpg', alt: 'slide',
                id: 'slide', style: 'width: 1024px; height: 578px;') %>
  <div style="text-align: center">
    <%= link_to '<<', '#', class: 'btn btn-info', id: 'slide-left' %>
    <%= link_to '>>', '#', class: 'btn btn-info', id: 'slide-right' %>
  </div>
</div>