<table class="table table-striped table-bordered table-sm">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @spaceships.each do |spaceship| %>
    <tr>
      <td><%= link_to spaceship.title, spaceship_path(spaceship) %></td>
      <td><%= link_to 'Edit', edit_spaceship_path(spaceship), class: "btn btn-warning" %></td>
      <td><%= button_to 'Delete', spaceship_path(spaceship), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Create', new_spaceship_path, class: 'btn btn-success btn-block' %>