<h1>Expeditions List:</h1>
<% if policy(Expedition).new? %>
  <p><%= link_to 'Create Expedition', new_expedition_path, remote: true, class: 'btn btn-success' %></p>
<% end %>
<div class="expedition-list">
  <%= render partial: "expeditions/expedition", collection: @expeditions %>
</div>
<%= link_to 'dom', '#', id: 'dom' %>

<%= render 'shared/slider' %>